<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
    	<div class="container">
	        <a class="brand" href="#">Energon</a>
	        <ul class="nav">
	            <li class="active"><a href="/css">css公共样式</a></li>
	            <li><a href="/js">js组件</a></li>
	            <li><a href="#">Link</a></li>
	        </ul>
        </div>
    </div>
</div>