                  <article id="ui-button" class="mod-doc">
                    <header>
                        <h1 class="title">ui-button:按钮样式</h1>
                    </header>
                    <div class="content">
                        <section class="overview">
                            <h2 class="cell-title">介绍</h2>
                            <div class="cell-content">
                                按钮的基本样式。
                            </div>
                        </section>
                        <section class="how">
                            <h2 class="cell-title">如何使用</h2>
                            <div class="cell-content">
                                <pre class="sh_html">
//普通按钮
&lt;button class=&quot;e-btn&quot; type=&quot;button&quot;&gt;普通按钮&lt;/button&gt;</pre>
                                <pre class="sh_html">
//突显按钮
&lt;button class=&quot;e-btn e-btn-primary&quot; type=&quot;button&quot;&gt;突显按钮&lt;/button&gt;</pre>
                                <pre class="sh_html">
//冻结按钮
&lt;button disabled=&quot;disabled&quot; class=&quot;e-btn&quot; type=&quot;button&quot;&gt;冻结按钮&lt;/button&gt;</pre>
                            </div>
                        </section>
                        <section class="demo">
                            <div class="cell-content">
                                <button class="e-btn" type="button">普通按钮</button>
                                <button class="e-btn e-btn-primary" type="button">突显按钮</button>
                                <button disabled="disabled" class="e-btn" type="button">冻结按钮</button>
                            </div>
                        </section>
                    </div>
                  </article>