                  <article id="ui-input" class="mod-doc">
                    <header>
                        <h1 class="title">ui-input:输入框样式</h1>
                    </header>
                    <div class="content">
                        <section class="overview">
                            <h2 class="cell-title">介绍</h2>
                            <div class="cell-content">
                                输入框的基本样式。
                            </div>
                        </section>
                        <section class="how">
                            <h2 class="cell-title">如何使用</h2>
                            <div class="cell-content">
                                <pre class="sh_html">
//正常输入框
&lt;input class=&quot;e-input-box&quot; placeholder=&quot;我是输入框&quot;/&gt;</pre>
                                <pre class="sh_html">
//冻结输入框
&lt;input class=&quot;e-input-box&quot; disabled=&quot;disabled&quot; placeholder=&quot;我是冻结输入框&quot;/&gt;</pre>
                            </div>
                        </section>
                        <section class="demo">
                            <div class="cell-content">
                                <input class="e-input-box" placeholder="我是输入框"/>
                                <input class="e-input-box" disabled="disabled" placeholder="我是冻结输入框"/>
                            </div>
                        </section>
                    </div>
                  </article>