                  <article id="ui-select" class="mod-doc">
                    <header>
                        <h1 class="title">ui-select:下拉框样式</h1>
                    </header>
                    <div class="content">
                        <section class="overview">
                            <h2 class="cell-title">介绍</h2>
                            <div class="cell-content">
                                下拉框的基本样式。
                            </div>
                        </section>
                        <section class="how">
                            <h2 class="cell-title">如何使用</h2>
                            <div class="cell-content">
                                <pre class="sh_html">
&lt;select class=&quot;e-select&quot;&gt;
    &lt;option&gt;请选择...&lt;/option&gt;
&lt;/select&gt;</pre>
                            </div>
                        </section>
                        <section class="demo">
                            <div class="cell-content">
                                <select class="e-select">
                                    <option>请选择...</option>
                                </select>
                            </div>
                        </section>
                    </div>
                  </article>