/**
 * 按钮
 * @author : panda;
 * @createTime : 2012-12-03;
 */
.btn-more dt{
	background: url("../../images/government-bg.png") 0 0 no-repeat;
}
.btn{
	display: inline-block;
	padding: 6px 12px;
	*padding: 6px 0;
	border: 1px solid #ccc;
	background-color: #f7f7f7;
	line-height: 12px;
	*height: 24px;
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #f9f9f9 0%, #ebebeb 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #f9f9f9 0%, #ebebeb 100%);
	/* Opera */ 
	background-image: -o-linear-gradient(top, #f9f9f9 0%, #ebebeb 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f9f9f9), color-stop(1, #ebebeb));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #f9f9f9 0%, #ebebeb 100%);
	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #f9f9f9 0%, #ebebeb 100%);
	border-radius: 3px;
	text-align: center;
	vertical-align: middle;
	color: #3d3d3d;
	cursor: pointer;
	*display: inline;
	*zoom: 1;
}
.btn.btn-large{
	padding: 8px 16px;
	*padding: 8px 0;
	*height: 30px;
	line-height: 14px;
	font-size: 14px;
	font-weight: 700;
}
.btn:link,
.btn:visited{
	color: #3d3d3d;
	text-decoration: none;
}
.btn:active,
.btn.active{
	border-color: #2c79cd;
	background-color: #459af7;
	background-image: -ms-linear-gradient(top, #459af7 0%, #398ce7 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #459af7 0%, #398ce7 100%);
	/* Opera */ 
	background-image: -o-linear-gradient(top, #459af7 0%, #398ce7 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #459af7), color-stop(1, #398ce7));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #459af7 0%, #398ce7 100%);
	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #459af7 0%, #398ce7 100%);
	color: #FFF;
	z-index: 2;
}
.btn[disabled],
.btn[disabled="disabled"],
.e-btn:disabled{
	background-color: #f7f7f7 !important;
	background-image: none;
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #d8d8d8 !important;
    color: #c8c8c8;
	opacity: 0.65;
	cursor: not-allowed;
}
.btn+.btn{
	margin-left: 8px;
}
.btn-group{
	display:inline-block;
	*display:inline;
	vertical-align:middle;
	white-space:nowrap;
    *zoom:1;
}
.btn-group:after{
    display:block;
    clear:both;
    height:0;
    content:"\0020";
}
.btn-group:first-child{
	*margin-left:0;
}
.btn-group>.btn{
	float: left;
	border-radius: 0;
	position: relative;
}
.btn-group>a.btn:link,
.btn-group>a.btn:visited{
	color: #333;
}
.btn-group>.btn:first-child{
	border-radius: 3px 0 0 3px;
}
.btn-group>.btn:last-child{
	border-radius: 0 3px 3px 0;
}
.btn-group>.btn+.btn{
	margin-left: -1px;
}
.btn-group>.btn.active:link,
.btn-group>.btn.active:visited{
	font-weight: 700;
	color: #FFF;
}
.btn-more{
	position: relative;
	display: inline-block;
	border: 1px solid #ccc;
	background-color: #f7f7f7;
	width: 76px;
	line-height: 30px;
	height: 30px;
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #f9f9f9 0%, #ebebeb 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #f9f9f9 0%, #ebebeb 100%);
	/* Opera */ 
	background-image: -o-linear-gradient(top, #f9f9f9 0%, #ebebeb 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f9f9f9), color-stop(1, #ebebeb));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #f9f9f9 0%, #ebebeb 100%);
	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #f9f9f9 0%, #ebebeb 100%);
	border-radius: 3px;
	vertical-align: middle;
	color: #3d3d3d;
	cursor: pointer;
}
.btn-more dt{
	padding-left: 15px;
	background-position: 56px -188px;
	font-size: 14px;
	font-weight: 700;
}
.btn-more dd{
	display: none;
	position: absolute;
	left: -1px;
	top: 30px;
	width: 76px;
	border: 1px solid #c9cacc;
	line-height: 30px;
	font-size: 14px;
	color: #3d3d3d;
}
.btn-more dd li{
	padding-left: 15px;
}
.btn-more:hover{
	background-image: none;
	background-color: #f7f7f7;
}
.btn-more:hover dt{
	background-position: 56px -238px;
}
.btn-more:hover dd{
	display: block;
}
.btn-more.towards-the-top dd{
	top: auto;
	bottom: 30px;
} 