/**
 * 弹出对话框
 * @author : panda;
 * @createTime : 2012-12-06;
 */
.dialog .dialog-close-btn{
	background: url("../../images/icon-bg-new.png") 0 0 no-repeat;
}
.dialog{
	display: none;
	min-width: 300px;
	border: 8px solid #666;
	border-radius: 4px;
}
.dialog header{
	height: 32px;
	line-height: 32px;
	background-color: #eaeaea;
}
.dialog header .title{
	padding-left: 16px;
	font-size: 14px;
	font-weight: 700;
	color: #666;
}
.dialog .content{
	border: 3px solid #eaeaea;
	border-width: 0 3px 3px;
	background-color: #FFF;
}
.dialog .dialog-close-btn{
	display: block;
	height: 9px;
	width: 9px;
	float: right;
	margin: 12px 16px 0 0;
	background-position: 0 -1150px;
}
.dialog .dialog-close-btn:hover{
	background-position: -50px -1150px;
}