/**
 * 组织管理样式
 * @author : panda
 * @createTime : 2012-12-11
 */
.item-container .item .item-close-btn{
	background: url("../../images/icon-bg-new.png") 0 0 no-repeat;
}
.detail-info{
	overflow-y: auto;
}
.detail-info .cell-header{
	height: 32px;
	line-height: 32px;
	background-color: #eaeaea;
}
.detail-info .cell-header .title{
	padding-left: 20px;
	font-weight: 700;
	font-size: 14px;
	color: #333;
}
.detail-info .input-box{
	width: 446px;
}
.detail-info .textarea-box{
	width: 446px;
	height: 272px;
}
.detail-info .radio-box label{
	display: inline-block;
	white-space:nowrap;
	margin-right: 15px;
	padding-right: 15px;
	color: #333;
}
.detail-info .cell-content{
	height: 100%;
	
}
.detail-info .cell-footer{
	height: 52px;
	background-color: #f7f7f7;
	margin: 8px;
	line-height: 52px;
	text-align: right;
}
.detail-info .cell-footer .reset-btn{
	margin-left: 9px;
	margin-right: 20px;
}
.cell-membership-detail .member-info{
	margin: 0 10px;
	border-bottom: 1px solid #eaeaea;
	padding-left: 10px;
	line-height: 28px;
}
.cell-membership-detail .member-info:nth-child(even){
	background-color: #f4fbff;
}
.cell-membership-detail .member-info .info-item{
	display: inline-block;
	height: 28px;
	width: 190px;
	color: #333;
}
.cell-membership-detail .member-info .department-info{
	width: 320px;
}
.cell-membership-detail .member-info .info-item label{
	color: #666;
}
.cell-membership-detail .cell-content{
	
}
.membership-credentials-box{
	width: 416px;
	margin-left: 10px;
}
.membership-credentials-box h3{
	height: 30px;
	line-height: 30px;
	color: #666;
}
.membership-credentials-box .organization-content{
	margin-bottom: 16px;
	position: relative;
}
.membership-credentials-box .organization-content input{
	width: 406px;
	cursor: pointer;
}
.membership-credentials-box .organization-tree-container{
	display: none;
	width: 384px;
	height: 229px;
	padding: 0 15px;
	border: 1px solid #a0a0a0;
	position: absolute;
	left: 0;
	top: 25px;
	background-color: #FFF;
	overflow-y: auto;
}
.membership-credentials-box .membership-content{
	width: 100%;
	height: 210px;
	border: 1px solid #eaeaea;
	line-height: 30px;
}
.checkbox{
	display: block;
	float: left;
	height: 30px;
	padding: 0 14px 0 7px;
}
.checkbox input{
	float: left;
	margin: 9px 8px 0 0;
}
.cell-membership-detail .no-membership-info{
	background: url("../../images/no-membership-info-bg.png") 50% 50% no-repeat;
}
.cell-membership-detail .operate-area{
	height: 52px;
	background-color: #f7f7f7;
	margin: 8px;
	padding-right: 20px;
	line-height: 52px;
	text-align: right;
}
.batch-processing-box dd{
	position: relative;
	padding-right: 133px;

}
.batch-processing-box .select-area{
	margin-top: 16px;
	position: relative;
	padding-left: 130px;
	padding-right: 40px;
}
.item-container{
	border: 1px solid #ccc;
	min-height: 118px;
}
.item-container .item{
	position: relative;
	display: block;
	float: left;
	height: 22px;
	padding: 0 5px;
	background-color: #eaeaea;
	margin: 8px 15px 0 8px;
	line-height: 22px;
	color: #333;
}
.item-container .item .item-close-btn{
	display: block;
	height: 13px;
	width: 13px;
	background-color: #a0a0a0;
	background-position: 0 -1100px;
	position: absolute;
	top: 0;
	right: -13px;
}
.item-container .item .item-close-btn:hover{
	background-position: -50px -1100px;
}
.batch-processing-box dd .btn{
	position: absolute;
	top: 0;
	right: 35px;
}
.batch-processing-box .select-area .btn{
	position: absolute;
	top: 40px;
	left: 20px;
}
.organization-tree{
	height: 100%;
	padding-left: 10px;
}
.mod-custom-authority-dialog .content{
	width: 710px;
}
.mod-custom-authority-dialog .content dl{
	height: 270px;
	line-height: 30px;
}
.mod-custom-authority-dialog .content dt{
	margin-top: 10px;
	float: left;
	padding-right: 16px;
	width: 84px;
	text-align: right;
	color: #666;
}
.mod-custom-authority-dialog .content dd{
	margin-top: 10px;
	float: left;
	width: 610px;
}
.mod-custom-authority-dialog .content dd .input-box{
	width: 446px;
}
.mod-custom-authority-dialog .content .operate-area{
	height: 70px;
	border-top: 1px solid #eaeaea;
	padding-right: 13px;
	line-height: 70px;
	text-align: right;
}
.mod-organization-range-dialog{
	
}
.mod-organization-range-dialog .cell-organization-tree{
	width: 281px;
	height: 340px;
	padding: 0 8px;
	background-color: #f4fbff;
	border-right: 1px solid #eaeaea;
}
.mod-organization-range-dialog .cell-organization-option{
	width: 448px;
	height: 340px;
	border: 0 none;
	background-color: #FFF;
}
.mod-organization-range-dialog .operate-area{
	height: 68px;
	border-top: 1px solid #eaeaea;
	padding-right: 13px;
	text-align: right;
	line-height: 68px;
}
.mod-member-range-dialog{
	
}
.mod-member-range-dialog .membership-credentials-box{
	width: 347px;
	height: 339px;
	background-color: #f4fbff;
	border-right: 1px solid #eaeaea;
}
.mod-member-range-dialog .membership-credentials-box .input-box{
	width: 328px;
}
.mod-member-range-dialog .membership-credentials-box .membership-content{
	width: 334px;
	height: 232px;
	background-color: #FFF;
}
.mod-member-range-dialog .cell-member-option{
	width: 398px;
	height: 338px;
	border: 0 none;
}
.mod-member-range-dialog .operate-area{
	height: 68px;
	border-top: 1px solid #eaeaea;
	padding-right: 13px;
	text-align: right;
	line-height: 68px;
}
.batch-processing-box .item-container .item{
	margin-right: 0;
}
.batch-processing-box .form-list .label-describe{
	width: 113px;
}